
.tag-filters{
  display: flex;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;

  .column{
    flex: 5;
    padding: 5px;

    ul{
      margin: 0;
      padding: 0;
    }

    li{
      list-style: none;
    }
  }

  .tag-element-container{
    display: flex;

    label{
      flex: 8.5;
    }

    input{
      flex: 1.5;
    }
  }
}
