
.tag-filters_container{
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  h4{
    margin: 0;
    text-align: center;
  }

  .tag-filters{
    display: flex;
    background-color: white;

    .column{
      flex: 5;
      padding: 5px;

      ul{
        margin: 0;
        padding: 0;
      }

      li{
        list-style: none;
      }
    }

    .tag-element-container{
      display: flex;

      label{
        flex: 8.5;
      }

      input{
        flex: 1.5;
      }
    }
  }

}
