@import "./../text-styles.scss";
$margin-divider: 10px;

.maker{

  nav{
    text-align: center;
    padding: 30px;

    input{
      display: inline-block;
      width: 30%;
      font-size: $txt-extra-large;
      text-align: center;
      padding: 5px;
    }

  }

  .maker-content{
    padding: 15px 50px;

    .content-container{
      padding-left: 10px 0;
      margin-bottom: 20px;

      h3{
        margin: 0;
        margin-bottom: $margin-divider
      }

      input{
        display: block;
        font-size: $txt-medium;
        margin-bottom: $margin-divider;
      }

      textarea{
        display: block;
        font-size: $txt-mid-small;
        resize: none;
      }

      .content-buttons{
        margin-top: $margin-divider;
      }
    }

  }

  .maker-buttons{
    display: flex;

    button{
      flex: 1;
    }
  }
}
