@import "./../colour-pallet.scss";

.viewer{

  nav{
    background-color: $dark-blue;

    h2{
      text-align: center;
      padding: 30px;
      margin: 0;
    }
  }

  .viewer-content{
    padding: 15px 50px;
  }
}
