@import "colour-pallet.scss";
@import "text-styles.scss";

$nav-width: 275px;

html{
  height: 100%;
}

body{
  margin: 0;
  background-image: url("./../build/images/bground-blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  text-decoration: none;
}

#app-container{
  display: flex;

  #nav-container{
    background-color: $blue;
    position: fixed;
    box-sizing: border-box;
    height: 100%;
    width: $nav-width;
    padding: 10px;
    box-shadow: 3px 0 20px black;
  }

  #content-container{
    box-sizing: border-box;
    margin-left: $nav-width;
    width: 100%;
  }

  .tile{
    border: none;
    box-shadow: 0 1px 2px black;
    background-color: $white;
    border-radius: 5px;
  }
  
  .hover-tile:hover{
    transition: 0.2s ease;
    box-shadow: 2px 5px 10px black;
  }
}
