@import "colour-pallet.scss";

$nav-width: 275px;

html{
  height: 100%;
}

body{
  margin: 0;
  background-image: url("./../build/images/bground-blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#app-container{
  display: flex;

  #nav-container{
    background-color: $blue;
    position: fixed;
    box-sizing: border-box;
    height: 100%;
    width: $nav-width;
    padding: 10px;
    box-shadow: 3px 0 20px black;
  }

  #content-container{
    box-sizing: border-box;
    margin-left: $nav-width;
    width: 100%;
  }

  h2{
    font-size: 35px;
  }

  h3{
    font-size: 37px;
  }

  p{
    font-size: 19px;
  }
}
