$txt-extra-large: 40px;
$txt-large: 35px;
$txt-medium: 27px;
$txt-mid-small: 22px;
$txt-small: 17px;
$txt-tiny: 14px;

h1{
  font-size: $txt-extra-large;
}

h2{
  font-size: $txt-large;
}

h3{
  font-size: $txt-medium;
}

h4{
  font-size: $txt-mid-small;
}

p{
  font-size: $txt-small;
}

input{
  font-size: $txt-small;
}

button{
  font-size: $txt-tiny;
}
